.floatBtns {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.floatBtns > input {
  height: 75px !important;
  width: 75px !important;
  font-size: 50px !important;
  border-radius: 25% !important;
}

input[type="button"],
button {
  height: 25px;
  width: 25px;
  background-color: #04aa6d;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 10%;
}

.fs-20 {
  font-size: 20px;
}

.flipV {
  transform: scaleX(-1);
}

textarea {
  resize: none;
  min-height: 15px;
  height: 15px;
}

.btnRed {
  background-color: #d32f2f !important;
}

.btn75 {
  width: 75%;
  border-radius: 15px;
}

.turno {
  margin-top: 10px;
}

.accion {
  margin-bottom: 5px;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr 4fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.column4 {
  grid-column: span 4;
}

.column3 {
  grid-column: span 3;
}

.column2 {
  grid-column: span 2;
}

.input-number {
  width: 50%;
  text-align: center;
}

.input-text-full {
  width: 100%;
  /* text-align: center; */
}

.marginBottomHistory {
  margin-bottom: 100px;
}

.ml-25 {
  margin-left: 25px;
}

.noShow {
  display: none !important;
}

.card {
  background: #303030;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 8px;
  box-shadow: none;
  transform-origin: center;
}

.gridOptions {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }
}
